.about_container {
    display: block;
    grid-template-columns: 35% 50%;
    gap: 15%;
}

.about_me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary));
    display: grid;
    place-items: center
}

.about_imgs {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    background-image: var(--color-primary);
    width: 20rem;
    height: 20rem;
    position: absolute;
    left: calc(50% - 17rem);
    margin-top: 5rem;
}